$primary-color: #000000;
$secondary-color: #000000;
$font-stack: 'Roboto', sans-serif;
$base-font-size: 1rem; // 16px convertido a rem
$grid-gutter: 1.875rem; // 30px convertido a rem
$footer-bg-color: #333;
$header-text-color: #fff;