@use 'sass:color';
@use '../utils/variables' as *;

header {
  background-color: $primary-color;
  color: $header-text-color;
  padding: 20px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;

    li a {
      color: $header-text-color;
      text-decoration: none;
      font-weight: 500;
      transition: color 0.3s ease;

      &:hover {
        color: color.adjust($header-text-color, $lightness: -20%);
      }
    }
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 1.8rem; // Ajustar el tamaño del título en pantallas medianas
    }

    nav ul li a {
      font-size: 1rem; // Ajustar el tamaño de los enlaces en pantallas medianas
    }
  }

  @media (max-width: 480px) {
    h1 {
      font-size: 1.5rem; // Ajustar el tamaño del título en pantallas pequeñas
    }

    nav ul li a {
      font-size: 0.9rem; // Ajustar el tamaño de los enlaces en pantallas pequeñas
    }
  }
}