@use 'sass:color';
@use '../utils/variables' as *;

#contact {
  padding: 3.125rem 0; // 50px convertido a rem
  background-color: #f9f9f9; // Fondo claro para la sección de contacto

  h2 {
    text-align: center;
    margin-bottom: 1.875rem; // 30px convertido a rem
    color: $primary-color;
    font-size: 2.5rem;
  }

  .contact-form {
    background-color: #fff;
    padding: 1.875rem; // 30px convertido a rem
    margin: 1.25rem auto; // 20px convertido a rem
    border-radius: 0.625rem; // 10px convertido a rem
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1); // 0 2px 4px convertido a rem
    transition: box-shadow 0.3s ease;
    max-width: 43.75rem; // 700px convertido a rem

    &:hover {
      box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); // 0 4px 8px convertido a rem
    }

    input, textarea {
      width: 100%;
      padding: 0.9375rem; // 15px convertido a rem
      margin-bottom: 0.9375rem; // 15px convertido a rem
      border: 1px solid #ccc;
      border-radius: 0.3125rem; // 5px convertido a rem
      font-size: 1rem;
    }

    button {
      background-color: $primary-color;
      color: #fff;
      padding: 0.9375rem 1.875rem; // 15px 30px convertido a rem
      border: none;
      border-radius: 0.3125rem; // 5px convertido a rem
      cursor: pointer;
      transition: background-color 0.3s ease;
      font-size: 1rem;

      &:hover {
        background-color: color.adjust($primary-color, $lightness: -10%);
      }
    }
  }

  @media (max-width: 768px) {
    .contact-form {
      padding: 1.25rem; // 20px convertido a rem
      margin: 0.9375rem; // 15px convertido a rem
      max-width: 90%;
    }

    h2 {
      font-size: 2rem;
    }

    input, textarea {
      font-size: 0.9rem;
      padding: 0.75rem; // 12px convertido a rem
    }

    button {
      font-size: 0.9rem;
      padding: 0.75rem 1.5625rem; // 12px 25px convertido a rem
    }
  }

  @media (max-width: 480px) {
    .contact-form {
      padding: 0.9375rem; // 15px convertido a rem
      margin: 0.625rem; // 10px convertido a rem
      max-width: 100%;
    }

    h2 {
      font-size: 1.8rem;
    }

    input, textarea {
      font-size: 0.8rem;
      padding: 0.625rem; // 10px convertido a rem
    }

    button {
      font-size: 0.8rem;
      padding: 0.625rem 1.25rem; // 10px 20px convertido a rem
    }
  }
}