@use '../utils/variables' as *;

#reviews {
  padding: 50px 0;
  background-color: #f9f9f9; // Fondo claro para la sección de reseñas
  text-align: center;

  h2 {
    color: $primary-color;
    font-size: 2.5rem;
    margin-bottom: 30px;
  }

  .video-container {
    margin-bottom: 30px;
    iframe {
      width: 100%;
      max-width: 560px;
      height: 315px;
      border: none;
    }
  }

  .review {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;

    p {
      font-size: 1.2rem;
      color: #333;
      margin-bottom: 10px;
    }

    span {
      display: block;
      font-size: 1rem;
      color: $secondary-color;
      font-weight: 500;
    }
  }

  @media (max-width: 768px) {
    .review {
      padding: 15px;
      margin: 15px auto;
      max-width: 90%;

      p {
        font-size: 1rem;
      }

      span {
        font-size: 0.9rem;
      }
    }

    h2 {
      font-size: 2rem;
    }
  }

  @media (max-width: 480px) {
    .review {
      padding: 10px;
      margin: 10px auto;
      max-width: 100%;

      p {
        font-size: 0.8rem; // Reducir el tamaño de la fuente en pantallas pequeñas
      }

      span {
        font-size: 0.7rem; // Reducir el tamaño de la fuente en pantallas pequeñas
      }
    }

    h2 {
      font-size: 1.6rem; // Reducir el tamaño del título en pantallas pequeñas
    }

    .video-container {
      iframe {
        height: 200px; // Ajustar la altura del video en pantallas pequeñas
      }
    }
  }
}