@use '../utils/variables' as *;

#reviews {
  padding: 3.125rem 0; // 50px convertido a rem
  background-color: #f9f9f9; // Fondo claro para la sección de reseñas
  text-align: center;

  h2 {
    color: $primary-color;
    font-size: 2.5rem;
    margin-bottom: 1.875rem; // 30px convertido a rem
  }

  .video-container {
    margin-bottom: 1.875rem; // 30px convertido a rem
    iframe {
      width: 100%;
      max-width: 35rem; // 560px convertido a rem
      height: 19.6875rem; // 315px convertido a rem
      border: none;
    }
  }

  .review {
    background-color: #fff;
    border-radius: 0.625rem; // 10px convertido a rem
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); // 0 4px 8px convertido a rem
    padding: 1.25rem; // 20px convertido a rem
    margin: 1.25rem auto; // 20px convertido a rem
    max-width: 37.5rem; // 600px convertido a rem

    p {
      font-size: 1.2rem;
      color: #333;
      margin-bottom: 0.625rem; // 10px convertido a rem
    }

    span {
      display: block;
      font-size: 1rem;
      color: $secondary-color;
      font-weight: 500;
    }
  }

  @media (max-width: 768px) {
    .review {
      padding: 0.9375rem; // 15px convertido a rem
      margin: 0.9375rem auto; // 15px convertido a rem
      max-width: 90%;

      p {
        font-size: 1rem;
      }

      span {
        font-size: 0.9rem;
      }
    }

    h2 {
      font-size: 2rem;
    }
  }

  @media (max-width: 480px) {
    .review {
      padding: 0.625rem; // 10px convertido a rem
      margin: 0.625rem auto; // 10px convertido a rem
      max-width: 100%;

      p {
        font-size: 0.8rem; // Reducir el tamaño de la fuente en pantallas pequeñas
      }

      span {
        font-size: 0.7rem; // Reducir el tamaño de la fuente en pantallas pequeñas
      }
    }

    h2 {
      font-size: 1.6rem; // Reducir el tamaño del título en pantallas pequeñas
    }

    .video-container {
      iframe {
        height: 12.5rem; // 200px convertido a rem
      }
    }
  }
}